body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.logo-container {
    margin: 36px 50px;
}

.image-logo {
    height: 60px;
    width: 60px;
}

.account-success {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-account {
    width: 270px;
    height: auto;
}

.acct-created {
    font-size: 25px;
    
}

/* .button {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 9px;
    font-size: 8px;
    margin-top: 20px;
    cursor: pointer;
} */
.btn {
    background-color: #ff0000;
    color: #f0f0f0;
    height: 3rem;
    width: 9rem;
    border: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
}


/* .btn {
    background-color: #ff0000;
    color: #fff;
    height: 3rem;
    width: 9rem;
    border: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
} */

/* Responsive styles */
@media (max-width: 768px) {
    .logo-container {
        margin: 20px 30px;
    }

    .image-logo {
        height: 50px;
        width: 50px;
    }

    .account-success {
        padding: 20px;
    }

    .image-account {
        width: 200px;
    }

    .acct-created {
        font-size: 20px;
    }

    .btn {
        height: 2.5rem;
        width: 7rem;
    }
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}
